<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIR CHECK</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>

    <a href="/users/logout">Odhlásiť  </a>
    <a href="/users/api-token">Zobraziť môj API token  </a>
    <a href="/users/favorites">Moje obľúbené lokality  </a>
    <a href="/users/profile">Profil  </a>



    <h2>Prihlásený ako : <%= user %></h2> 
    <h1>Zisti kvalitu ovzdušia</h1>

    <label for="city">Vyber lokáciu</label>
    <select id="city"></select>

    <button onclick="getAirQuality()">zisti kvalitu ovzdušia</button>
    <button onclick="addFavorite()">Pridať medzi obľúbené</button> 

    <h2>Výsledok</h2>
    <p><strong>Vybraná lokácia:</strong> <span id="selected-city">None</span></p>
    <p><strong>Index kvality ovzdušia (AQI):</strong> <span id="aqi">-</span></p>
    <p><strong>Dominantná znečisťujúca látka:</strong> <span id="dominant">-</span></p>
    <h3>Namerané hodnoty:</h3>
    <ul id="measurements"></ul>

   

    <script src="/js/main.js?v=2" defer></script>

</body>
</html>
