<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIR CHECK</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
    <a href="/users/logout"> Logout</a>
   <h1>hello <%= user %></h1> 
   <p>Your API key: <%= apiKey %></p>

   <!-- API -->
   <label for="city">Choose a city:</label>
<select id="city">
    <option value="Bratislava">Bratislava</option>
    <option value="Kosice">Košice</option>
    <option value="Zilina">Žilina</option>
    <option value="Presov">Prešov</option>
    <option value="Martin">Martin</option>
    <option value="A478879">Prečín (stanica)</option>
    <option value="Banska Bystrica">Banská Bystrica</option>
    <option value="Trnovec nad Váhom">Trnovec nad Váhom</option> <!-- Agdata API -->
</select>

<button onclick="getAirQuality()">Get Air Quality</button>

<h2>Air Quality Data</h2>
<p><strong>Selected City:</strong> <span id="selected-city">None</span></p>
<p><strong>Air Quality Index (AQI):</strong> <span id="aqi">-</span></p>
<p><strong>Dominant Pollutant:</strong> <span id="dominant">-</span></p>
<h3>Measured Values:</h3>
<ul id="measurements"></ul>



<script src="/js/main.js" defer></script> 
</body>
</html>
