<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <title>Moje obľúbené lokality</title>
</head>
<body>

  <h1>Moje obľúbené lokality</h1>

  <ul id="favorites-list">
    <!-- dynamicky nacita  -->
  </ul>

  <button id="back-to-dashboard">← Späť na dashboard</button>

  <script src="/js/favorites.js" defer></script>

</body>
</html>
